.App {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
}

.author-quotes-content {
}

.footer {
  padding-bottom: 0.5em;
}

.footer--signature {
  text-align: center;
}
